In [3]:
import pandas as pd
pd.set_option("display.max_columns", None) # expand to see all columns

In [4]:
# read data into dataframe
customer_data = pd.read_csv(r"C:\Users\brigh\Documents\amdari-internship\projects\reder-analytics\source-data\Dataset.xlsx - Sheet1.csv")

In [5]:
customer_data.head() # preview data

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,PurchaseHistory,SubscriptionDetails,ServiceInteractions,PaymentHistory,WebsiteUsage,ClickstreamData,EngagementMetrics,Feedback,MarketingCommunication,NPS,ChurnLabel,Timestamp
0,1001,Mark Barrett,31,Male,Andrewfort,allison74@example.net,3192528777,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,"[{'Product': 'Frozen Cocktail Mixes', 'Frequen...","{'Plan': 'Express', 'Start_Date': '2020-06-08'...","[{'Type': 'Call', 'Date': '2019-09-26'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 5}...","{'PageViews': 49, 'TimeSpent(minutes)': 15}","[{'Action': 'Add to Cart', 'Page': 'register',...","{'Logins': 19, 'Frequency': 'Weekly'}","{'Rating': 1, 'Comment': 'I move baby go small...","[{'Email_Sent': '2019-10-17', 'Email_Opened': ...",3,1,2020-01-27 01:36:49
1,1002,Jeremy Welch,66,Female,Millerhaven,fmiller@example.com,231-587-1818x8651,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,"[{'Product': 'Watercraft Polishes', 'Frequency...","{'Plan': 'Pro', 'Start_Date': '2021-07-21', 'E...","[{'Type': 'Call', 'Date': '2020-01-05'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 3}...","{'PageViews': 100, 'TimeSpent(minutes)': 9}","[{'Action': 'Add to Cart', 'Page': 'homepage',...","{'Logins': 9, 'Frequency': 'Weekly'}","{'Rating': 2, 'Comment': 'Wish what bag cut li...","[{'Email_Sent': '2021-08-02', 'Email_Opened': ...",6,0,2019-01-06 18:30:03
2,1003,Brandon Patel,36,Female,Lozanostad,jasonbrown@example.org,(270)633-9095,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,"[{'Product': 'Vehicle Waxes, Polishes & Protec...","{'Plan': 'Essential', 'Start_Date': '2019-10-0...","[{'Type': 'Email', 'Date': '2019-10-09'}, {'Ty...","[{'Method': 'Credit Card', 'Late_Payments': 1}...","{'PageViews': 1, 'TimeSpent(minutes)': 97}","[{'Action': 'Search', 'Page': 'terms', 'Timest...","{'Logins': 19, 'Frequency': 'Monthly'}","{'Rating': 4, 'Comment': 'Some Democrat guess ...","[{'Email_Sent': '2021-08-29', 'Email_Opened': ...",3,0,2019-04-30 04:25:10
3,1004,Tina Martin,62,Female,South Dustin,matthew62@example.net,050.081.8706x11982,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,"[{'Product': 'Mouthwash', 'Frequency': 5, 'Val...","{'Plan': 'Smart', 'Start_Date': '2020-01-14', ...","[{'Type': 'Call', 'Date': '2020-08-28'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 36...","{'PageViews': 25, 'TimeSpent(minutes)': 31}","[{'Action': 'Click', 'Page': 'privacy', 'Times...","{'Logins': 4, 'Frequency': 'Daily'}","{'Rating': 1, 'Comment': 'Yard feel never miss...","[{'Email_Sent': '2021-02-03', 'Email_Opened': ...",1,1,2020-03-03 17:33:28
4,1005,Christopher Rodriguez,68,Female,West James,shannonstrickland@example.org,+1-701-854-4915x724,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,"[{'Product': 'Ice Cream Novelties', 'Frequency...","{'Plan': 'Basic', 'Start_Date': '2021-04-08', ...","[{'Type': 'Call', 'Date': '2019-04-10'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 0}...","{'PageViews': 77, 'TimeSpent(minutes)': 51}","[{'Action': 'Click', 'Page': 'privacy', 'Times...","{'Logins': 12, 'Frequency': 'Weekly'}","{'Rating': 3, 'Comment': 'Ten determine unit i...","[{'Email_Sent': '2022-03-11', 'Email_Opened': ...",3,0,2019-04-05 22:42:22

In [6]:
customer_data.tail() # check how many rows are in the dataset

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,PurchaseHistory,SubscriptionDetails,ServiceInteractions,PaymentHistory,WebsiteUsage,ClickstreamData,EngagementMetrics,Feedback,MarketingCommunication,NPS,ChurnLabel,Timestamp
12478,13479,Catherine Lee,55,Female,New Lauren,kgarcia@example.com,(977)150-1569x426,"836 Gonzalez Drive Apt. 334\nLake Kelly, RI 01667",Segment A,"[{'Product': 'Ice Cream Novelties', 'Frequency...","{'Plan': 'Essential', 'Start_Date': '2019-06-1...","[{'Type': 'Email', 'Date': '2021-02-17'}, {'Ty...","[{'Method': 'Credit Card', 'Late_Payments': 1}...","{'PageViews': 70, 'TimeSpent(minutes)': 57}","[{'Action': 'Add to Cart', 'Page': 'homepage',...","{'Logins': 22, 'Frequency': 'Daily'}","{'Rating': 2, 'Comment': 'Light appear fight l...","[{'Email_Sent': '2020-11-29', 'Email_Opened': ...",8,0,2022-01-27 00:27:28
12479,13480,Kimberly Johnson,29,Male,Randymouth,carrjennifer@example.org,485.014.7824x5235,3715 Wiggins Harbors Suite 139\nEast Gregorybo...,Segment A,"[{'Product': 'Straight Pins', 'Frequency': 1, ...","{'Plan': 'Flex', 'Start_Date': '2022-12-10', '...","[{'Type': 'Call', 'Date': '2022-11-05'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 1}...","{'PageViews': 71, 'TimeSpent(minutes)': 66}","[{'Action': 'Search', 'Page': 'category', 'Tim...","{'Logins': 25, 'Frequency': 'Weekly'}","{'Rating': 3, 'Comment': 'Yet very girl histor...","[{'Email_Sent': '2022-05-29', 'Email_Opened': ...",7,0,2020-06-14 23:04:47
12480,13481,Lisa Rodgers,38,Male,East Erin,william37@example.com,951-489-9554,"56050 Steven Summit Suite 383\nJohnmouth, NM 2...",Segment C,"[{'Product': 'Furisode Kimonos', 'Frequency': ...","{'Plan': 'Deluxe', 'Start_Date': '2021-07-04',...","[{'Type': 'Email', 'Date': '2020-05-22'}, {'Ty...","[{'Method': 'Credit Card', 'Late_Payments': 26...","{'PageViews': 96, 'TimeSpent(minutes)': 1}","[{'Action': 'Search', 'Page': 'author', 'Times...","{'Logins': 9, 'Frequency': 'Monthly'}","{'Rating': 5, 'Comment': 'Offer particularly s...","[{'Email_Sent': '2020-05-18', 'Email_Opened': ...",1,1,2020-10-13 15:09:13
12481,13482,Kristin Carey,26,Female,New Leah,josephcarter@example.net,001-335-464-3236x722,"72356 Teresa Rapid\nPorterborough, SC 40076",Segment A,"[{'Product': 'Sequins & Glitter', 'Frequency':...","{'Plan': 'Gold', 'Start_Date': '2020-07-21', '...","[{'Type': 'Call', 'Date': '2020-09-11'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 30...","{'PageViews': 63, 'TimeSpent(minutes)': 2}","[{'Action': 'Click', 'Page': 'post', 'Timestam...","{'Logins': 2, 'Frequency': 'Monthly'}","{'Rating': 5, 'Comment': 'Rest something conce...","[{'Email_Sent': '2021-09-05', 'Email_Opened': ...",0,0,2020-06-24 23:49:01
12482,13483,Melissa Carter,29,Male,West Amanda,regina88@example.net,816-238-9247,USCGC Lopez\nFPO AE 85542,Segment C,"[{'Product': 'Pool Brushes & Brooms', 'Frequen...","{'Plan': 'Prime', 'Start_Date': '2021-08-20', ...","[{'Type': 'Call', 'Date': '2019-02-17'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 11...","{'PageViews': 93, 'TimeSpent(minutes)': 6}","[{'Action': 'Add to Cart', 'Page': 'category',...","{'Logins': 6, 'Frequency': 'Weekly'}","{'Rating': 3, 'Comment': 'Indeed foot trouble ...","[{'Email_Sent': '2021-02-08', 'Email_Opened': ...",2,1,2022-07-14 07:27:52

In [7]:
customer_data.columns # see all columns in the dataframe

Index(['CustomerID', 'Name', 'Age', 'Gender', 'Location', 'Email', 'Phone',
       'Address', 'Segment', 'PurchaseHistory', 'SubscriptionDetails',
       'ServiceInteractions', 'PaymentHistory', 'WebsiteUsage',
       'ClickstreamData', 'EngagementMetrics', 'Feedback',
       'MarketingCommunication', 'NPS', 'ChurnLabel', 'Timestamp'],
      dtype='object')

In [8]:
# Capture all columns failing 1NF (holds multiple values in a column)
cols_to_extract = ['PurchaseHistory', 'SubscriptionDetails',
       'ServiceInteractions', 'PaymentHistory', 'WebsiteUsage',
       'ClickstreamData', 'EngagementMetrics', 'Feedback',
       'MarketingCommunication']

In [9]:
# preview an instance to understand steps needed for separation
customer_data['PurchaseHistory'].iloc[0]

"[{'Product': 'Frozen Cocktail Mixes', 'Frequency': 8, 'Value': 884.43}, {'Product': 'Printer, Copier & Fax Machine Accessories', 'Frequency': 7, 'Value': 397.14}, {'Product': 'Hockey Stick Care', 'Frequency': 10, 'Value': 498.92}, {'Product': 'Guacamole', 'Frequency': 2, 'Value': 718.43}, {'Product': 'Mortisers', 'Frequency': 2, 'Value': 614.08}, {'Product': 'Rulers', 'Frequency': 6, 'Value': 221.68}, {'Product': 'Invitations', 'Frequency': 3, 'Value': 660.04}]"

In [10]:
# library to convert from string to py object
import ast

ast.literal_eval(customer_data['PurchaseHistory'].iloc[0]) # works fine

[{'Product': 'Frozen Cocktail Mixes', 'Frequency': 8, 'Value': 884.43},
 {'Product': 'Printer, Copier & Fax Machine Accessories',
  'Frequency': 7,
  'Value': 397.14},
 {'Product': 'Hockey Stick Care', 'Frequency': 10, 'Value': 498.92},
 {'Product': 'Guacamole', 'Frequency': 2, 'Value': 718.43},
 {'Product': 'Mortisers', 'Frequency': 2, 'Value': 614.08},
 {'Product': 'Rulers', 'Frequency': 6, 'Value': 221.68},
 {'Product': 'Invitations', 'Frequency': 3, 'Value': 660.04}]

In [11]:
# convert string literal in customer_data df to py objects

def convert_string(col):
    if isinstance(col, str):
        return ast.literal_eval(col)
    else:
        return col
    
for col in cols_to_extract:
    customer_data[col] = customer_data[col].apply(convert_string)

In [12]:
# verify

for col in cols_to_extract:
    print(f"{col}: \n {customer_data[col].iloc[0]}\n")

PurchaseHistory:
 [{'Product': 'Frozen Cocktail Mixes', 'Frequency': 8, 'Value': 884.43}, {'Product': 'Printer, Copier & Fax Machine Accessories', 'Frequency': 7, 'Value': 397.14}, {'Product': 'Hockey Stick Care', 'Frequency': 10, 'Value': 498.92}, {'Product': 'Guacamole', 'Frequency': 2, 'Value': 718.43}, {'Product': 'Mortisers', 'Frequency': 2, 'Value': 614.08}, {'Product': 'Rulers', 'Frequency': 6, 'Value': 221.68}, {'Product': 'Invitations', 'Frequency': 3, 'Value': 660.04}]

SubscriptionDetails:
 {'Plan': 'Express', 'Start_Date': '2020-06-08', 'End_Date': '2022-10-27'}

ServiceInteractions:
 [{'Type': 'Call', 'Date': '2019-09-26'}, {'Type': 'Chat', 'Date': '2021-07-25'}, {'Type': 'Email', 'Date': '2020-04-13'}, {'Type': 'Chat', 'Date': '2020-11-15'}]

PaymentHistory:
 [{'Method': 'Credit Card', 'Late_Payments': 5}, {'Method': 'PayPal', 'Late_Payments': 11}, {'Method': 'Bank Transfer', 'Late_Payments': 24}]

WebsiteUsage:
 {'PageViews': 49, 'TimeSpent(minutes)': 15}

ClickstreamData:
 [{'Action': 'Add to Cart', 'Page': 'register', 'Timestamp': '2020-09-13 17:06:44'}, {'Action': 'Search', 'Page': 'login', 'Timestamp': '2022-03-30 14:51:52'}, {'Action': 'Click', 'Page': 'about', 'Timestamp': '2019-11-10 05:48:48'}, {'Action': 'Add to Cart', 'Page': 'terms', 'Timestamp': '2019-05-15 10:17:44'}, {'Action': 'Add to Cart', 'Page': 'author', 'Timestamp': '2022-07-14 03:40:53'}, {'Action': 'Search', 'Page': 'main', 'Timestamp': '2019-01-13 08:39:42'}, {'Action': 'Add to Cart', 'Page': 'faq', 'Timestamp': '2019-02-19 05:28:25'}, {'Action': 'Add to Cart', 'Page': 'about', 'Timestamp': '2020-11-01 20:59:55'}, {'Action': 'Click', 'Page': 'faq', 'Timestamp': '2021-12-22 16:39:40'}, {'Action': 'Add to Cart', 'Page': 'main', 'Timestamp': '2020-11-11 03:25:36'}, {'Action': 'Click', 'Page': 'privacy', 'Timestamp': '2021-06-13 06:18:41'}, {'Action': 'Add to Cart', 'Page': 'search', 'Timestamp': '2022-03-28 16:25:35'}, {'Action': 'Search', 'Page': 'homepage', 'Timestamp': '2019-09-26 12:27:42'}, {'Action': 'Click', 'Page': 'search', 'Timestamp': '2021-03-31 16:35:39'}, {'Action': 'Search', 'Page': 'main', 'Timestamp': '2021-12-22 10:02:19'}, {'Action': 'Search', 'Page': 'about', 'Timestamp': '2019-08-24 05:11:40'}, {'Action': 'Add to Cart', 'Page': 'index', 'Timestamp': '2021-04-30 00:38:03'}, {'Action': 'Search', 'Page': 'privacy', 'Timestamp': '2021-06-21 16:23:49'}, {'Action': 'Search', 'Page': 'about', 'Timestamp': '2022-04-03 07:25:20'}, {'Action': 'Search', 'Page': 'author', 'Timestamp': '2022-11-07 02:24:31'}, {'Action': 'Search', 'Page': 'about', 'Timestamp': '2019-08-25 17:37:59'}, {'Action': 'Search', 'Page': 'post', 'Timestamp': '2020-12-18 01:36:34'}, {'Action': 'Search', 'Page': 'home', 'Timestamp': '2021-11-24 07:33:26'}, {'Action': 'Search', 'Page': 'login', 'Timestamp': '2020-11-15 07:21:21'}]

EngagementMetrics:
 {'Logins': 19, 'Frequency': 'Weekly'}

Feedback:
 {'Rating': 1, 'Comment': 'I move baby go small big. Office institution six. Fact until hear technology right company seek.'}

MarketingCommunication:
 [{'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}]

In [13]:
# function to normalize nested columns
def normalize_column(df, column, id_col="CustomerID"):
    """
    Normalizes a column containing either:
    - dict  -> 1-to-1 table
    - list of dicts -> 1-to-many table

    ***args:
    - df -> dataframe with nested columns
    - column -> nested column to normalize
    - id_col -> column from dataframe to serve as primary key in resulting table
    """
    
    temp_df = df[[id_col, column]].dropna() # so there is no null value in a row

    first_value = temp_df[column].iloc[0]

    # For list of dictionaries
    if isinstance(first_value, list):
        temp_df = temp_df.explode(column)

        normalized = pd.json_normalize(temp_df[column])

        result = pd.concat(
            [temp_df[[id_col]].reset_index(drop=True),
             normalized.reset_index(drop=True)],
            axis=1
            )

    # For single dictionary
    elif isinstance(first_value, dict):
        normalized = pd.json_normalize(temp_df[column])
        
        result = pd.concat(
            [temp_df[[id_col]].reset_index(drop=True),
             normalized.reset_index(drop=True)],
            axis=1
            )

    else:
        raise TypeError(f"Unsupported data type in column '{column}': Must be a list or dict")

    # return and drop old index
    return result.reset_index(drop=True) # reset_index will replace current index with new default index: 0, 1, 2, ...

In [20]:
purchase_hist = normalize_column(customer_data, "PurchaseHistory")

purchase_hist.head() # ftn works fine

   CustomerID                                    Product  Frequency   Value
0        1001                      Frozen Cocktail Mixes          8  884.43
1        1001  Printer, Copier & Fax Machine Accessories          7  397.14
2        1001                          Hockey Stick Care         10  498.92
3        1001                                  Guacamole          2  718.43
4        1001                                  Mortisers          2  614.08

In [15]:
cols_to_extract

['PurchaseHistory',
 'SubscriptionDetails',
 'ServiceInteractions',
 'PaymentHistory',
 'WebsiteUsage',
 'ClickstreamData',
 'EngagementMetrics',
 'Feedback',
 'MarketingCommunication']

In [16]:
# create separate tables(dfs) for each nested column

sub_details = normalize_column(customer_data, "SubscriptionDetails")
srv_interac = normalize_column(customer_data, "ServiceInteractions")
payment_hist = normalize_column(customer_data, "PaymentHistory")
web_usage = normalize_column(customer_data, "WebsiteUsage")
clk_stream = normalize_column(customer_data, "ClickstreamData")
eng_metrics = normalize_column(customer_data, "EngagementMetrics")
feedback = normalize_column(customer_data, "Feedback")
mkt_com = normalize_column(customer_data, "MarketingCommunication")

arr = [sub_details, srv_interac, payment_hist, web_usage, clk_stream, eng_metrics, feedback, mkt_com]

for item in arr:
    print(f"{item}\n")

       CustomerID       Plan  Start_Date    End_Date
0            1001    Express  2020-06-08  2022-10-27
1            1002        Pro  2021-07-21  2022-05-07
2            1003  Essential  2019-10-05  2020-08-19
3            1004      Smart  2020-01-14  2022-03-27
4            1005      Basic  2021-04-08  2022-11-09
...           ...        ...         ...         ...
12478       13479  Essential  2019-06-15  2021-06-29
12479       13480       Flex  2022-12-10  2022-12-28
12480       13481     Deluxe  2021-07-04  2021-07-24
12481       13482       Gold  2020-07-21  2021-11-17
12482       13483      Prime  2021-08-20  2022-05-13

[12483 rows x 4 columns]

        CustomerID   Type        Date
0             1001   Call  2019-09-26
1             1001   Chat  2021-07-25
2             1001  Email  2020-04-13
3             1001   Chat  2020-11-15
4             1002   Call  2020-01-05
...            ...    ...         ...
254248       13483   Call  2022-04-06
254249       13483   Call  2021-01-31
254250       13483   Chat  2021-11-12
254251       13483   Call  2022-06-10
254252       13483   Chat  2020-11-04

[254253 rows x 3 columns]

       CustomerID         Method  Late_Payments
0            1001    Credit Card              5
1            1001         PayPal             11
2            1001  Bank Transfer             24
3            1002    Credit Card              3
4            1002         PayPal              3
...           ...            ...            ...
37444       13482         PayPal              3
37445       13482  Bank Transfer             34
37446       13483    Credit Card             11
37447       13483         PayPal              8
37448       13483  Bank Transfer             30

[37449 rows x 3 columns]

       CustomerID  PageViews  TimeSpent(minutes)
0            1001         49                  15
1            1002        100                   9
2            1003          1                  97
3            1004         25                  31
4            1005         77                  51
...           ...        ...                 ...
12478       13479         70                  57
12479       13480         71                  66
12480       13481         96                   1
12481       13482         63                   2
12482       13483         93                   6

[12483 rows x 3 columns]

        CustomerID       Action      Page            Timestamp
0             1001  Add to Cart  register  2020-09-13 17:06:44
1             1001       Search     login  2022-03-30 14:51:52
2             1001        Click     about  2019-11-10 05:48:48
3             1001  Add to Cart     terms  2019-05-15 10:17:44
4             1001  Add to Cart    author  2022-07-14 03:40:53
...            ...          ...       ...                  ...
319611       13483       Search     terms  2020-05-25 09:12:57
319612       13483       Search       faq  2022-10-22 16:58:27
319613       13483       Search     index  2019-12-02 01:00:43
319614       13483  Add to Cart    author  2019-07-13 11:12:37
319615       13483  Add to Cart     index  2020-10-14 04:21:18

[319616 rows x 4 columns]

       CustomerID  Logins Frequency
0            1001      19    Weekly
1            1002       9    Weekly
2            1003      19   Monthly
3            1004       4     Daily
4            1005      12    Weekly
...           ...     ...       ...
12478       13479      22     Daily
12479       13480      25    Weekly
12480       13481       9   Monthly
12481       13482       2   Monthly
12482       13483       6    Weekly

[12483 rows x 3 columns]

       CustomerID  Rating                                            Comment
0            1001       1  I move baby go small big. Office institution s...
1            1002       2  Wish what bag cut life. Statement might opport...
2            1003       4  Some Democrat guess but short. Whether behind ...
3            1004       1  Yard feel never miss ask billion Congress. Fly...
4            1005       3  Ten determine unit interview challenge stock. ...
...           ...     ...                                                ...
12478       13479       2              Light appear fight lawyer where star.
12479       13480       3  Yet very girl history. Thing late dream you re...
12480       13481       5  Offer particularly single degree seem sound. S...
12481       13482       5  Rest something concern likely movie. Foot in i...
12482       13483       3  Indeed foot trouble heavy agreement cut. West ...

[12483 rows x 3 columns]

       CustomerID  Email_Sent Email_Opened Email_Clicked
0            1001  2019-10-17   2022-01-12    2022-11-27
1            1001  2019-10-17   2022-01-12    2022-11-27
2            1001  2019-10-17   2022-01-12    2022-11-27
3            1001  2019-10-17   2022-01-12    2022-11-27
4            1001  2019-10-17   2022-01-12    2022-11-27
...           ...         ...          ...           ...
68757       13483  2021-02-08   2021-09-18    2022-04-11
68758       13483  2021-02-08   2021-09-18    2022-04-11
68759       13483  2021-02-08   2021-09-18    2022-04-11
68760       13483  2021-02-08   2021-09-18    2022-04-11
68761       13483  2021-02-08   2021-09-18    2022-04-11

[68762 rows x 4 columns]

In [17]:
customer_base = customer_data.drop(columns=cols_to_extract)

customer_base.head()

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,NPS,ChurnLabel,Timestamp
0,1001,Mark Barrett,31,Male,Andrewfort,allison74@example.net,3192528777,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,3,1,2020-01-27 01:36:49
1,1002,Jeremy Welch,66,Female,Millerhaven,fmiller@example.com,231-587-1818x8651,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,6,0,2019-01-06 18:30:03
2,1003,Brandon Patel,36,Female,Lozanostad,jasonbrown@example.org,(270)633-9095,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,3,0,2019-04-30 04:25:10
3,1004,Tina Martin,62,Female,South Dustin,matthew62@example.net,050.081.8706x11982,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,1,1,2020-03-03 17:33:28
4,1005,Christopher Rodriguez,68,Female,West James,shannonstrickland@example.org,+1-701-854-4915x724,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,3,0,2019-04-05 22:42:22

In [18]:
# create one-to-one object that can be joined safely to customer dimension table
one_to_one = {
    "SubscriptionDetails": sub_details,
    "WebsiteUsage": web_usage,
    "EngagementMetrics": eng_metrics,
    "Feedback": feedback
}

# create new df for merge operation
customer_info = customer_base.copy()

# merge one-to-one dfs to customer_info
for df in one_to_one.values():
    customer_info = customer_info.merge(
        df,
        on="CustomerID",
        how="left"
    )

In [19]:
customer_info.head()

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,NPS,ChurnLabel,Timestamp,Plan,Start_Date,End_Date,PageViews,TimeSpent(minutes),Logins,Frequency,Rating,Comment
0,1001,Mark Barrett,31,Male,Andrewfort,allison74@example.net,3192528777,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,3,1,2020-01-27 01:36:49,Express,2020-06-08,2022-10-27,49,15,19,Weekly,1,I move baby go small big. Office institution s...
1,1002,Jeremy Welch,66,Female,Millerhaven,fmiller@example.com,231-587-1818x8651,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,6,0,2019-01-06 18:30:03,Pro,2021-07-21,2022-05-07,100,9,9,Weekly,2,Wish what bag cut life. Statement might opport...
2,1003,Brandon Patel,36,Female,Lozanostad,jasonbrown@example.org,(270)633-9095,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,3,0,2019-04-30 04:25:10,Essential,2019-10-05,2020-08-19,1,97,19,Monthly,4,Some Democrat guess but short. Whether behind ...
3,1004,Tina Martin,62,Female,South Dustin,matthew62@example.net,050.081.8706x11982,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,1,1,2020-03-03 17:33:28,Smart,2020-01-14,2022-03-27,25,31,4,Daily,1,Yard feel never miss ask billion Congress. Fly...
4,1005,Christopher Rodriguez,68,Female,West James,shannonstrickland@example.org,+1-701-854-4915x724,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,3,0,2019-04-05 22:42:22,Basic,2021-04-08,2022-11-09,77,51,12,Weekly,3,Ten determine unit interview challenge stock. ...