In [11]:
import pandas as pd
pd.set_option("display.max_columns", None) # expand to see all columns

In [12]:
# read data into dataframe
customer_data = pd.read_csv(r"C:\Users\brigh\Documents\amdari-internship\projects\reder-analytics\source-data\Dataset.xlsx - Sheet1.csv")

In [13]:
customer_data.head() # preview data

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,PurchaseHistory,SubscriptionDetails,ServiceInteractions,PaymentHistory,WebsiteUsage,ClickstreamData,EngagementMetrics,Feedback,MarketingCommunication,NPS,ChurnLabel,Timestamp
0,1001,Mark Barrett,31,Male,Andrewfort,allison74@example.net,3192528777,"61234 Shelley Heights Suite 467\nCohentown, GU...",Segment B,"[{'Product': 'Frozen Cocktail Mixes', 'Frequen...","{'Plan': 'Express', 'Start_Date': '2020-06-08'...","[{'Type': 'Call', 'Date': '2019-09-26'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 5}...","{'PageViews': 49, 'TimeSpent(minutes)': 15}","[{'Action': 'Add to Cart', 'Page': 'register',...","{'Logins': 19, 'Frequency': 'Weekly'}","{'Rating': 1, 'Comment': 'I move baby go small...","[{'Email_Sent': '2019-10-17', 'Email_Opened': ...",3,1,2020-01-27 01:36:49
1,1002,Jeremy Welch,66,Female,Millerhaven,fmiller@example.com,231-587-1818x8651,"4959 Jennifer Junction\nNew Angelaport, TN 87397",Segment C,"[{'Product': 'Watercraft Polishes', 'Frequency...","{'Plan': 'Pro', 'Start_Date': '2021-07-21', 'E...","[{'Type': 'Call', 'Date': '2020-01-05'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 3}...","{'PageViews': 100, 'TimeSpent(minutes)': 9}","[{'Action': 'Add to Cart', 'Page': 'homepage',...","{'Logins': 9, 'Frequency': 'Weekly'}","{'Rating': 2, 'Comment': 'Wish what bag cut li...","[{'Email_Sent': '2021-08-02', 'Email_Opened': ...",6,0,2019-01-06 18:30:03
2,1003,Brandon Patel,36,Female,Lozanostad,jasonbrown@example.org,(270)633-9095,"38701 Amanda Brook Apt. 076\nKimshire, NJ 62516",Segment B,"[{'Product': 'Vehicle Waxes, Polishes & Protec...","{'Plan': 'Essential', 'Start_Date': '2019-10-0...","[{'Type': 'Email', 'Date': '2019-10-09'}, {'Ty...","[{'Method': 'Credit Card', 'Late_Payments': 1}...","{'PageViews': 1, 'TimeSpent(minutes)': 97}","[{'Action': 'Search', 'Page': 'terms', 'Timest...","{'Logins': 19, 'Frequency': 'Monthly'}","{'Rating': 4, 'Comment': 'Some Democrat guess ...","[{'Email_Sent': '2021-08-29', 'Email_Opened': ...",3,0,2019-04-30 04:25:10
3,1004,Tina Martin,62,Female,South Dustin,matthew62@example.net,050.081.8706x11982,"67324 Ashley Coves\nSouth John, RI 29650",Segment C,"[{'Product': 'Mouthwash', 'Frequency': 5, 'Val...","{'Plan': 'Smart', 'Start_Date': '2020-01-14', ...","[{'Type': 'Call', 'Date': '2020-08-28'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 36...","{'PageViews': 25, 'TimeSpent(minutes)': 31}","[{'Action': 'Click', 'Page': 'privacy', 'Times...","{'Logins': 4, 'Frequency': 'Daily'}","{'Rating': 1, 'Comment': 'Yard feel never miss...","[{'Email_Sent': '2021-02-03', 'Email_Opened': ...",1,1,2020-03-03 17:33:28
4,1005,Christopher Rodriguez,68,Female,West James,shannonstrickland@example.org,+1-701-854-4915x724,"01169 Miller Mission\nWest Anthonyburgh, WY 47359",Segment C,"[{'Product': 'Ice Cream Novelties', 'Frequency...","{'Plan': 'Basic', 'Start_Date': '2021-04-08', ...","[{'Type': 'Call', 'Date': '2019-04-10'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 0}...","{'PageViews': 77, 'TimeSpent(minutes)': 51}","[{'Action': 'Click', 'Page': 'privacy', 'Times...","{'Logins': 12, 'Frequency': 'Weekly'}","{'Rating': 3, 'Comment': 'Ten determine unit i...","[{'Email_Sent': '2022-03-11', 'Email_Opened': ...",3,0,2019-04-05 22:42:22

In [14]:
customer_data.tail() # check how many rows are in the dataset

,CustomerID,Name,Age,Gender,Location,Email,Phone,Address,Segment,PurchaseHistory,SubscriptionDetails,ServiceInteractions,PaymentHistory,WebsiteUsage,ClickstreamData,EngagementMetrics,Feedback,MarketingCommunication,NPS,ChurnLabel,Timestamp
12478,13479,Catherine Lee,55,Female,New Lauren,kgarcia@example.com,(977)150-1569x426,"836 Gonzalez Drive Apt. 334\nLake Kelly, RI 01667",Segment A,"[{'Product': 'Ice Cream Novelties', 'Frequency...","{'Plan': 'Essential', 'Start_Date': '2019-06-1...","[{'Type': 'Email', 'Date': '2021-02-17'}, {'Ty...","[{'Method': 'Credit Card', 'Late_Payments': 1}...","{'PageViews': 70, 'TimeSpent(minutes)': 57}","[{'Action': 'Add to Cart', 'Page': 'homepage',...","{'Logins': 22, 'Frequency': 'Daily'}","{'Rating': 2, 'Comment': 'Light appear fight l...","[{'Email_Sent': '2020-11-29', 'Email_Opened': ...",8,0,2022-01-27 00:27:28
12479,13480,Kimberly Johnson,29,Male,Randymouth,carrjennifer@example.org,485.014.7824x5235,3715 Wiggins Harbors Suite 139\nEast Gregorybo...,Segment A,"[{'Product': 'Straight Pins', 'Frequency': 1, ...","{'Plan': 'Flex', 'Start_Date': '2022-12-10', '...","[{'Type': 'Call', 'Date': '2022-11-05'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 1}...","{'PageViews': 71, 'TimeSpent(minutes)': 66}","[{'Action': 'Search', 'Page': 'category', 'Tim...","{'Logins': 25, 'Frequency': 'Weekly'}","{'Rating': 3, 'Comment': 'Yet very girl histor...","[{'Email_Sent': '2022-05-29', 'Email_Opened': ...",7,0,2020-06-14 23:04:47
12480,13481,Lisa Rodgers,38,Male,East Erin,william37@example.com,951-489-9554,"56050 Steven Summit Suite 383\nJohnmouth, NM 2...",Segment C,"[{'Product': 'Furisode Kimonos', 'Frequency': ...","{'Plan': 'Deluxe', 'Start_Date': '2021-07-04',...","[{'Type': 'Email', 'Date': '2020-05-22'}, {'Ty...","[{'Method': 'Credit Card', 'Late_Payments': 26...","{'PageViews': 96, 'TimeSpent(minutes)': 1}","[{'Action': 'Search', 'Page': 'author', 'Times...","{'Logins': 9, 'Frequency': 'Monthly'}","{'Rating': 5, 'Comment': 'Offer particularly s...","[{'Email_Sent': '2020-05-18', 'Email_Opened': ...",1,1,2020-10-13 15:09:13
12481,13482,Kristin Carey,26,Female,New Leah,josephcarter@example.net,001-335-464-3236x722,"72356 Teresa Rapid\nPorterborough, SC 40076",Segment A,"[{'Product': 'Sequins & Glitter', 'Frequency':...","{'Plan': 'Gold', 'Start_Date': '2020-07-21', '...","[{'Type': 'Call', 'Date': '2020-09-11'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 30...","{'PageViews': 63, 'TimeSpent(minutes)': 2}","[{'Action': 'Click', 'Page': 'post', 'Timestam...","{'Logins': 2, 'Frequency': 'Monthly'}","{'Rating': 5, 'Comment': 'Rest something conce...","[{'Email_Sent': '2021-09-05', 'Email_Opened': ...",0,0,2020-06-24 23:49:01
12482,13483,Melissa Carter,29,Male,West Amanda,regina88@example.net,816-238-9247,USCGC Lopez\nFPO AE 85542,Segment C,"[{'Product': 'Pool Brushes & Brooms', 'Frequen...","{'Plan': 'Prime', 'Start_Date': '2021-08-20', ...","[{'Type': 'Call', 'Date': '2019-02-17'}, {'Typ...","[{'Method': 'Credit Card', 'Late_Payments': 11...","{'PageViews': 93, 'TimeSpent(minutes)': 6}","[{'Action': 'Add to Cart', 'Page': 'category',...","{'Logins': 6, 'Frequency': 'Weekly'}","{'Rating': 3, 'Comment': 'Indeed foot trouble ...","[{'Email_Sent': '2021-02-08', 'Email_Opened': ...",2,1,2022-07-14 07:27:52

In [15]:
customer_data.columns # see all columns in the dataframe

Index(['CustomerID', 'Name', 'Age', 'Gender', 'Location', 'Email', 'Phone',
       'Address', 'Segment', 'PurchaseHistory', 'SubscriptionDetails',
       'ServiceInteractions', 'PaymentHistory', 'WebsiteUsage',
       'ClickstreamData', 'EngagementMetrics', 'Feedback',
       'MarketingCommunication', 'NPS', 'ChurnLabel', 'Timestamp'],
      dtype='object')

In [16]:
# Capture all columns failing 1NF (holds multiple values in a column)
cols_to_extract = ['PurchaseHistory', 'SubscriptionDetails',
       'ServiceInteractions', 'PaymentHistory', 'WebsiteUsage',
       'ClickstreamData', 'EngagementMetrics', 'Feedback',
       'MarketingCommunication']

In [17]:
# preview an instance to understand steps needed for separation
customer_data['PurchaseHistory'].iloc[0]

"[{'Product': 'Frozen Cocktail Mixes', 'Frequency': 8, 'Value': 884.43}, {'Product': 'Printer, Copier & Fax Machine Accessories', 'Frequency': 7, 'Value': 397.14}, {'Product': 'Hockey Stick Care', 'Frequency': 10, 'Value': 498.92}, {'Product': 'Guacamole', 'Frequency': 2, 'Value': 718.43}, {'Product': 'Mortisers', 'Frequency': 2, 'Value': 614.08}, {'Product': 'Rulers', 'Frequency': 6, 'Value': 221.68}, {'Product': 'Invitations', 'Frequency': 3, 'Value': 660.04}]"

In [18]:
# library to convert from string to py object
import ast

ast.literal_eval(customer_data['PurchaseHistory'].iloc[0]) # works fine

[{'Product': 'Frozen Cocktail Mixes', 'Frequency': 8, 'Value': 884.43},
 {'Product': 'Printer, Copier & Fax Machine Accessories',
  'Frequency': 7,
  'Value': 397.14},
 {'Product': 'Hockey Stick Care', 'Frequency': 10, 'Value': 498.92},
 {'Product': 'Guacamole', 'Frequency': 2, 'Value': 718.43},
 {'Product': 'Mortisers', 'Frequency': 2, 'Value': 614.08},
 {'Product': 'Rulers', 'Frequency': 6, 'Value': 221.68},
 {'Product': 'Invitations', 'Frequency': 3, 'Value': 660.04}]

In [19]:
# convert string literal in customer_data df to py objects

def convert_string(col):
    if isinstance(col, str):
        return ast.literal_eval(col)
    else:
        return col
    
for col in cols_to_extract:
    customer_data[col] = customer_data[col].apply(convert_string)

In [20]:
# verify

for col in cols_to_extract:
    print(f"{col}: \n {customer_data[col].iloc[0]}\n")

PurchaseHistory:
 [{'Product': 'Frozen Cocktail Mixes', 'Frequency': 8, 'Value': 884.43}, {'Product': 'Printer, Copier & Fax Machine Accessories', 'Frequency': 7, 'Value': 397.14}, {'Product': 'Hockey Stick Care', 'Frequency': 10, 'Value': 498.92}, {'Product': 'Guacamole', 'Frequency': 2, 'Value': 718.43}, {'Product': 'Mortisers', 'Frequency': 2, 'Value': 614.08}, {'Product': 'Rulers', 'Frequency': 6, 'Value': 221.68}, {'Product': 'Invitations', 'Frequency': 3, 'Value': 660.04}]

SubscriptionDetails:
 {'Plan': 'Express', 'Start_Date': '2020-06-08', 'End_Date': '2022-10-27'}

ServiceInteractions:
 [{'Type': 'Call', 'Date': '2019-09-26'}, {'Type': 'Chat', 'Date': '2021-07-25'}, {'Type': 'Email', 'Date': '2020-04-13'}, {'Type': 'Chat', 'Date': '2020-11-15'}]

PaymentHistory:
 [{'Method': 'Credit Card', 'Late_Payments': 5}, {'Method': 'PayPal', 'Late_Payments': 11}, {'Method': 'Bank Transfer', 'Late_Payments': 24}]

WebsiteUsage:
 {'PageViews': 49, 'TimeSpent(minutes)': 15}

ClickstreamData:
 [{'Action': 'Add to Cart', 'Page': 'register', 'Timestamp': '2020-09-13 17:06:44'}, {'Action': 'Search', 'Page': 'login', 'Timestamp': '2022-03-30 14:51:52'}, {'Action': 'Click', 'Page': 'about', 'Timestamp': '2019-11-10 05:48:48'}, {'Action': 'Add to Cart', 'Page': 'terms', 'Timestamp': '2019-05-15 10:17:44'}, {'Action': 'Add to Cart', 'Page': 'author', 'Timestamp': '2022-07-14 03:40:53'}, {'Action': 'Search', 'Page': 'main', 'Timestamp': '2019-01-13 08:39:42'}, {'Action': 'Add to Cart', 'Page': 'faq', 'Timestamp': '2019-02-19 05:28:25'}, {'Action': 'Add to Cart', 'Page': 'about', 'Timestamp': '2020-11-01 20:59:55'}, {'Action': 'Click', 'Page': 'faq', 'Timestamp': '2021-12-22 16:39:40'}, {'Action': 'Add to Cart', 'Page': 'main', 'Timestamp': '2020-11-11 03:25:36'}, {'Action': 'Click', 'Page': 'privacy', 'Timestamp': '2021-06-13 06:18:41'}, {'Action': 'Add to Cart', 'Page': 'search', 'Timestamp': '2022-03-28 16:25:35'}, {'Action': 'Search', 'Page': 'homepage', 'Timestamp': '2019-09-26 12:27:42'}, {'Action': 'Click', 'Page': 'search', 'Timestamp': '2021-03-31 16:35:39'}, {'Action': 'Search', 'Page': 'main', 'Timestamp': '2021-12-22 10:02:19'}, {'Action': 'Search', 'Page': 'about', 'Timestamp': '2019-08-24 05:11:40'}, {'Action': 'Add to Cart', 'Page': 'index', 'Timestamp': '2021-04-30 00:38:03'}, {'Action': 'Search', 'Page': 'privacy', 'Timestamp': '2021-06-21 16:23:49'}, {'Action': 'Search', 'Page': 'about', 'Timestamp': '2022-04-03 07:25:20'}, {'Action': 'Search', 'Page': 'author', 'Timestamp': '2022-11-07 02:24:31'}, {'Action': 'Search', 'Page': 'about', 'Timestamp': '2019-08-25 17:37:59'}, {'Action': 'Search', 'Page': 'post', 'Timestamp': '2020-12-18 01:36:34'}, {'Action': 'Search', 'Page': 'home', 'Timestamp': '2021-11-24 07:33:26'}, {'Action': 'Search', 'Page': 'login', 'Timestamp': '2020-11-15 07:21:21'}]

EngagementMetrics:
 {'Logins': 19, 'Frequency': 'Weekly'}

Feedback:
 {'Rating': 1, 'Comment': 'I move baby go small big. Office institution six. Fact until hear technology right company seek.'}

MarketingCommunication:
 [{'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}, {'Email_Sent': '2019-10-17', 'Email_Opened': '2022-01-12', 'Email_Clicked': '2022-11-27'}]

In [21]:
# function to normalize nested columns
def normalize_column(df, column, id_col="CustomerID"):
    """
    Normalizes a column containing either:
    - dict  -> 1-to-1 table
    - list of dicts -> 1-to-many table

    ***args:
    - df -> dataframe with nested columns
    - column -> nested column to normalize
    - id_col -> column from dataframe to serve as primary key in resulting table
    """
    
    temp_df = df[[id_col, column]].dropna() # so there is no null value in a row

    first_value = temp_df[column].iloc[0]

    # For list of dictionaries
    if isinstance(first_value, list):
        temp_df = temp_df.explode(column)

        normalized = pd.json_normalize(temp_df[column])

        result = pd.concat(
            [temp_df[[id_col]].reset_index(drop=True),
             normalized.reset_index(drop=True)],
            axis=1
            )

    # For single dictionary
    elif isinstance(first_value, dict):
        normalized = pd.json_normalize(temp_df[column])
        
        result = pd.concat(
            [temp_df[[id_col]].reset_index(drop=True),
             normalized.reset_index(drop=True)],
            axis=1
            )

    else:
        raise TypeError(f"Unsupported data type in column '{column}': Must be a list or dict")

    # return and drop old index
    return result.reset_index(drop=True) # reset_index will replace current index with new default index: 0, 1, 2, ...

In [22]:
purchase_hist = normalize_column(customer_data, "PurchaseHistory")

purchase_hist.head() # ftn works fine

   CustomerID                                    Product  Frequency   Value
0        1001                      Frozen Cocktail Mixes          8  884.43
1        1001  Printer, Copier & Fax Machine Accessories          7  397.14
2        1001                          Hockey Stick Care         10  498.92
3        1001                                  Guacamole          2  718.43
4        1001                                  Mortisers          2  614.08

In [23]:
cols_to_extract

['PurchaseHistory',
 'SubscriptionDetails',
 'ServiceInteractions',
 'PaymentHistory',
 'WebsiteUsage',
 'ClickstreamData',
 'EngagementMetrics',
 'Feedback',
 'MarketingCommunication']

In [24]:
# create separate tables(dfs) for each nested column

sub_details = normalize_column(customer_data, "SubscriptionDetails")
srv_interac = normalize_column(customer_data, "ServiceInteractions")
payment_hist = normalize_column(customer_data, "PaymentHistory")
web_usage = normalize_column(customer_data, "WebsiteUsage")
clk_stream = normalize_column(customer_data, "ClickstreamData")
eng_metrics = normalize_column(customer_data, "EngagementMetrics")
feedback = normalize_column(customer_data, "Feedback")
mkt_com = normalize_column(customer_data, "MarketingCommunication")

arr = [sub_details, srv_interac, payment_hist, web_usage, clk_stream, eng_metrics, feedback, mkt_com]

for item in arr:
    print(f"{item}\n")

       CustomerID       Plan  Start_Date    End_Date
0            1001    Express  2020-06-08  2022-10-27
1            1002        Pro  2021-07-21  2022-05-07
2            1003  Essential  2019-10-05  2020-08-19
3            1004      Smart  2020-01-14  2022-03-27
4            1005      Basic  2021-04-08  2022-11-09
...           ...        ...         ...         ...
12478       13479  Essential  2019-06-15  2021-06-29
12479       13480       Flex  2022-12-10  2022-12-28
12480       13481     Deluxe  2021-07-04  2021-07-24
12481       13482       Gold  2020-07-21  2021-11-17
12482       13483      Prime  2021-08-20  2022-05-13

[12483 rows x 4 columns]

        CustomerID   Type        Date
0             1001   Call  2019-09-26
1             1001   Chat  2021-07-25
2             1001  Email  2020-04-13
3             1001   Chat  2020-11-15
4             1002   Call  2020-01-05
...            ...    ...         ...
254248       13483   Call  2022-04-06
254249       13483   Call  2021-01-31
254250       13483   Chat  2021-11-12
254251       13483   Call  2022-06-10
254252       13483   Chat  2020-11-04

[254253 rows x 3 columns]

       CustomerID         Method  Late_Payments
0            1001    Credit Card              5
1            1001         PayPal             11
2            1001  Bank Transfer             24
3            1002    Credit Card              3
4            1002         PayPal              3
...           ...            ...            ...
37444       13482         PayPal              3
37445       13482  Bank Transfer             34
37446       13483    Credit Card             11
37447       13483         PayPal              8
37448       13483  Bank Transfer             30

[37449 rows x 3 columns]

       CustomerID  PageViews  TimeSpent(minutes)
0            1001         49                  15
1            1002        100                   9
2            1003          1                  97
3            1004         25                  31
4            1005         77                  51
...           ...        ...                 ...
12478       13479         70                  57
12479       13480         71                  66
12480       13481         96                   1
12481       13482         63                   2
12482       13483         93                   6

[12483 rows x 3 columns]

        CustomerID       Action      Page            Timestamp
0             1001  Add to Cart  register  2020-09-13 17:06:44
1             1001       Search     login  2022-03-30 14:51:52
2             1001        Click     about  2019-11-10 05:48:48
3             1001  Add to Cart     terms  2019-05-15 10:17:44
4             1001  Add to Cart    author  2022-07-14 03:40:53
...            ...          ...       ...                  ...
319611       13483       Search     terms  2020-05-25 09:12:57
319612       13483       Search       faq  2022-10-22 16:58:27
319613       13483       Search     index  2019-12-02 01:00:43
319614       13483  Add to Cart    author  2019-07-13 11:12:37
319615       13483  Add to Cart     index  2020-10-14 04:21:18

[319616 rows x 4 columns]

       CustomerID  Logins Frequency
0            1001      19    Weekly
1            1002       9    Weekly
2            1003      19   Monthly
3            1004       4     Daily
4            1005      12    Weekly
...           ...     ...       ...
12478       13479      22     Daily
12479       13480      25    Weekly
12480       13481       9   Monthly
12481       13482       2   Monthly
12482       13483       6    Weekly

[12483 rows x 3 columns]

       CustomerID  Rating                                            Comment
0            1001       1  I move baby go small big. Office institution s...
1            1002       2  Wish what bag cut life. Statement might opport...
2            1003       4  Some Democrat guess but short. Whether behind ...
3            1004       1  Yard feel never miss ask billion Congress. Fly...
4            1005       3  Ten determine unit interview challenge stock. ...
...           ...     ...                                                ...
12478       13479       2              Light appear fight lawyer where star.
12479       13480       3  Yet very girl history. Thing late dream you re...
12480       13481       5  Offer particularly single degree seem sound. S...
12481       13482       5  Rest something concern likely movie. Foot in i...
12482       13483       3  Indeed foot trouble heavy agreement cut. West ...

[12483 rows x 3 columns]

       CustomerID  Email_Sent Email_Opened Email_Clicked
0            1001  2019-10-17   2022-01-12    2022-11-27
1            1001  2019-10-17   2022-01-12    2022-11-27
2            1001  2019-10-17   2022-01-12    2022-11-27
3            1001  2019-10-17   2022-01-12    2022-11-27
4            1001  2019-10-17   2022-01-12    2022-11-27
...           ...         ...          ...           ...
68757       13483  2021-02-08   2021-09-18    2022-04-11
68758       13483  2021-02-08   2021-09-18    2022-04-11
68759       13483  2021-02-08   2021-09-18    2022-04-11
68760       13483  2021-02-08   2021-09-18    2022-04-11
68761       13483  2021-02-08   2021-09-18    2022-04-11

[68762 rows x 4 columns]

## Feature Engineering

### Purchase Behavior Features

**Idea**: Customers who spend more and buy consistently are less likely to churn.

- Total/average spending (loyalty indicator)
- Purchase consistency (stable vs erratic buyers)
- Product diversity (engaged vs single-product users)

In [25]:
purchase_hist = purchase_hist.groupby('CustomerID').agg({
    'Value': 'sum',
    'Frequency': 'sum',
    'Product': 'nunique'
}).reset_index()
purchase_hist.columns = ['CustomerID', 'total_purchase_value', 'total_frequency', 'product_diversity']

In [26]:
purchase_hist

       CustomerID  total_purchase_value  total_frequency  product_diversity
0            1001               3994.72               38                  7
1            1002               2844.35                4                  3
2            1003               1866.52               14                  3
3            1004               1378.64               28                  5
4            1005               2425.05               39                  6
...           ...                   ...              ...                ...
12478       13479               1196.56               14                  3
12479       13480                710.57                1                  1
12480       13481               5154.42               63                 10
12481       13482               6055.16               58                  9
12482       13483                154.20                1                  1

[12483 rows x 4 columns]

### Subscription Lifecycle Features

**Idea**: Long-term subscribers with active accounts are less likely to churn.

- How long they've been subscribed (tenure)
- Whether subscription is still active
- Subscription plan type

In [27]:
sub_details['Start_Date'] = pd.to_datetime(sub_details['Start_Date'])
sub_details['End_Date'] = pd.to_datetime(sub_details['End_Date'])
sub_details['subscription_duration_days'] = (sub_details['End_Date'] - sub_details['Start_Date']).dt.days
sub_details['subscription_age_days'] = (pd.to_datetime('2023-01-01') - sub_details['Start_Date']).dt.days
sub_details['is_active'] = (sub_details['End_Date'] > pd.to_datetime('2023-01-01')).astype(int)
sub_details = sub_details[['CustomerID', 'Plan', 'subscription_duration_days', 'subscription_age_days', 'is_active']]

In [28]:
sub_details

,CustomerID,Plan,subscription_duration_days,subscription_age_days,is_active
0,1001,Express,871,937,0
1,1002,Pro,290,529,0
2,1003,Essential,319,1184,0
3,1004,Smart,803,1083,0
4,1005,Basic,580,633,0
...,...,...,...,...,...
12478,13479,Essential,745,1296,0
12479,13480,Flex,18,22,0
12480,13481,Deluxe,20,546,0
12481,13482,Gold,484,894,0
12482,13483,Prime,266,499,0

### Service Interaction Patterns

**Idea**: Frequent support contacts (especially calls) may signal dissatisfaction.

- Total interactions
- Calculate last interaction date

In [29]:
srv_interac['Date'] = pd.to_datetime(srv_interac['Date'])
srv_interac = srv_interac.groupby('CustomerID').agg({
    'Date': 'max',
    'Type': 'count'
}).reset_index()
srv_interac.columns = ['CustomerID', 'last_interaction_date', 'total_interactions']

In [30]:
srv_interac

       CustomerID last_interaction_date  total_interactions
0            1001            2021-07-25                   4
1            1002            2022-12-13                  19
2            1003            2022-01-04                   3
3            1004            2022-11-10                  59
4            1005            2022-12-19                  10
...           ...                   ...                 ...
12478       13479            2022-10-09                  10
12479       13480            2022-11-05                   3
12480       13481            2022-12-08                  26
12481       13482            2022-11-15                  13
12482       13483            2022-06-10                   7

[12483 rows x 3 columns]

### Payment Reliability Features

**Idea**: Late payments indicate financial stress or dissatisfaction.

- Total late payments
- Late payment rate (percentage of payments that are late)
- Payment risk score (combined metric)

In [31]:
payment_hist = payment_hist.groupby('CustomerID').agg({
    'Late_Payments': 'sum',
    'Method': 'count'
}).reset_index()
payment_hist.columns = ['CustomerID', 'total_late_payments', 'payment_count']
payment_hist['late_payment_rate'] = payment_hist['total_late_payments'] / (payment_hist['payment_count'] + 1)
payment_hist['payment_risk_score'] = payment_hist['total_late_payments'] * payment_hist['late_payment_rate']

In [32]:
payment_hist

,CustomerID,total_late_payments,payment_count,late_payment_rate,payment_risk_score
0,1001,40,3,10.00,400.00
1,1002,10,3,2.50,25.00
2,1003,8,3,2.00,16.00
3,1004,79,3,19.75,1560.25
4,1005,2,3,0.50,1.00
...,...,...,...,...,...
12478,13479,3,3,0.75,2.25
12479,13480,6,3,1.50,9.00
12480,13481,83,3,20.75,1722.25
12481,13482,67,3,16.75,1122.25
12482,13483,49,3,12.25,600.25

### Digital Engagement Features

**Idea**: Active website users are more engaged and less likely to leave.

- Page views and time spent
- Engagement ratio (time per page)
- Engagement intensity (overall activity level)

In [33]:
web_usage = web_usage.groupby('CustomerID').agg({
    'PageViews': 'sum',
    'TimeSpent(minutes)': 'sum'
}).reset_index()
web_usage['engagement_ratio'] = web_usage['TimeSpent(minutes)'] / (web_usage['PageViews'] + 1)
web_usage['engagement_intensity'] = web_usage['PageViews'] * web_usage['TimeSpent(minutes)']

In [34]:
web_usage

,CustomerID,PageViews,TimeSpent(minutes),engagement_ratio,engagement_intensity
0,1001,49,15,0.300000,735
1,1002,100,9,0.089109,900
2,1003,1,97,48.500000,97
3,1004,25,31,1.192308,775
4,1005,77,51,0.653846,3927
...,...,...,...,...,...
12478,13479,70,57,0.802817,3990
12479,13480,71,66,0.916667,4686
12480,13481,96,1,0.010309,96
12481,13482,63,2,0.031250,126
12482,13483,93,6,0.063830,558

### Clickstream Behavior Features

**Idea**: Specific actions (adding to cart, searching) show purchase intent.

- Total actions taken
- Cart conversion rate (add-to-cart actions)
- Search intensity (exploration behavior)
- Page diversity (breadth of interest)

In [35]:
clk_stream = clk_stream.groupby('CustomerID').agg({
    'Action': ['count', lambda x: (x == 'Add to Cart').sum(), lambda x: (x == 'Search').sum(), lambda x: (x == 'Click').sum()],
    'Page': 'nunique'
}).reset_index()
clk_stream.columns = ['CustomerID', 'total_actions', 'add_to_cart_count', 'search_count', 'click_count', 'unique_pages']
clk_stream['cart_conversion_rate'] = clk_stream['add_to_cart_count'] / (clk_stream['total_actions'] + 1)
clk_stream['search_intensity'] = clk_stream['search_count'] / (clk_stream['total_actions'] + 1)
clk_stream['page_diversity'] = clk_stream['unique_pages'] / (clk_stream['total_actions'] + 1)

In [36]:
clk_stream

,CustomerID,total_actions,add_to_cart_count,search_count,click_count,unique_pages,cart_conversion_rate,search_intensity,page_diversity
0,1001,24,8,12,4,13,0.320000,0.480000,0.520000
1,1002,24,8,7,9,13,0.320000,0.280000,0.520000
2,1003,12,2,7,3,7,0.153846,0.538462,0.538462
3,1004,47,15,16,16,14,0.312500,0.333333,0.291667
4,1005,30,17,4,9,12,0.548387,0.129032,0.387097
...,...,...,...,...,...,...,...,...,...
12478,13479,6,4,1,1,6,0.571429,0.142857,0.857143
12479,13480,9,3,3,3,8,0.300000,0.300000,0.800000
12480,13481,26,10,11,5,9,0.370370,0.407407,0.333333
12481,13482,38,7,15,16,12,0.179487,0.384615,0.307692
12482,13483,32,13,10,9,13,0.393939,0.303030,0.393939

### Engagement Frequency Features

**Idea**: Daily users are more engaged than monthly users.

We convert frequency categories to numeric scores:

- Daily = 30 (highest engagement)
- Weekly = 4
- Monthly = 1 (lowest engagement)

In [37]:
frequency_map = {'Daily': 30, 'Weekly': 4, 'Monthly': 1}
eng_metrics = eng_metrics.groupby('CustomerID').agg({
    'Logins': 'sum',
    'Frequency': 'first'
}).reset_index()
eng_metrics['frequency_score'] = eng_metrics['Frequency'].map(frequency_map)
eng_metrics['engagement_score'] = eng_metrics['Logins'] * eng_metrics['frequency_score']
eng_metrics = eng_metrics[['CustomerID', 'Logins', 'frequency_score', 'engagement_score']]

In [38]:
eng_metrics

       CustomerID  Logins  frequency_score  engagement_score
0            1001      19                4                76
1            1002       9                4                36
2            1003      19                1                19
3            1004       4               30               120
4            1005      12                4                48
...           ...     ...              ...               ...
12478       13479      22               30               660
12479       13480      25                4               100
12480       13481       9                1                 9
12481       13482       2                1                 2
12482       13483       6                4                24

[12483 rows x 4 columns]

### Sentiment & Feedback Features

**Idea**: Negative feedback and low ratings predict churn.

- Average rating
- Comment length (longer = more invested)
- Sentiment flags (positive/negative)

In [39]:
feedback = feedback.groupby('CustomerID').agg({
    'Rating': 'mean',
    'Comment': lambda x: x.str.len().mean()
}).reset_index()
feedback.columns = ['CustomerID', 'avg_rating', 'avg_comment_length']
feedback['sentiment_score'] = feedback['avg_rating'] / 5
feedback['is_negative'] = (feedback['avg_rating'] <= 2).astype(int)
feedback['is_positive'] = (feedback['avg_rating'] >= 4).astype(int)

In [40]:
feedback

,CustomerID,avg_rating,avg_comment_length,sentiment_score,is_negative,is_positive
0,1001,1.0,96.0,0.2,1,0
1,1002,2.0,108.0,0.4,1,0
2,1003,4.0,72.0,0.8,0,1
3,1004,1.0,78.0,0.2,1,0
4,1005,3.0,99.0,0.6,0,0
...,...,...,...,...,...,...
12478,13479,2.0,37.0,0.4,1,0
12479,13480,3.0,102.0,0.6,0,0
12480,13481,5.0,134.0,1.0,0,1
12481,13482,5.0,113.0,1.0,0,1
12482,13483,3.0,121.0,0.6,0,0

### Marketing Response Features

**Idea**: Customers who ignore emails are disengaging.

- Email open rate
- Click rate
- Click-through rate (clicks per open)
- Overall marketing engagement

In [41]:
mkt_com = mkt_com.groupby('CustomerID').agg({
    'Email_Sent': 'count',
    'Email_Opened': 'count',
    'Email_Clicked': 'count'
}).reset_index()
mkt_com.columns = ['CustomerID', 'emails_sent', 'emails_opened', 'emails_clicked']
mkt_com['open_rate'] = mkt_com['emails_opened'] / (mkt_com['emails_sent'] + 1)
mkt_com['click_rate'] = mkt_com['emails_clicked'] / (mkt_com['emails_sent'] + 1)
mkt_com['click_through_rate'] = mkt_com['emails_clicked'] / (mkt_com['emails_opened'] + 1)
mkt_com['marketing_engagement'] = mkt_com['open_rate'] * mkt_com['click_rate']

In [42]:
mkt_com

,CustomerID,emails_sent,emails_opened,emails_clicked,open_rate,click_rate,click_through_rate,marketing_engagement
0,1001,8,8,8,0.888889,0.888889,0.888889,0.790123
1,1002,9,9,9,0.900000,0.900000,0.900000,0.810000
2,1003,8,8,8,0.888889,0.888889,0.888889,0.790123
3,1004,10,10,10,0.909091,0.909091,0.909091,0.826446
4,1005,7,7,7,0.875000,0.875000,0.875000,0.765625
...,...,...,...,...,...,...,...,...
12478,13479,4,4,4,0.800000,0.800000,0.800000,0.640000
12479,13480,7,7,7,0.875000,0.875000,0.875000,0.765625
12480,13481,5,5,5,0.833333,0.833333,0.833333,0.694444
12481,13482,1,1,1,0.500000,0.500000,0.500000,0.250000
12482,13483,5,5,5,0.833333,0.833333,0.833333,0.694444

### Demographics & Temporal Features

**Idea**: Age, segment, and account age affect churn likelihood.

Would be nice to have:

- Age groups (Young, Adult, Middle, Senior)
- NPS categories (Detractor, Passive, Promoter)
- Account age in days

In [43]:
customer_data['Timestamp'] = pd.to_datetime(customer_data['Timestamp'])
customer_data['account_age_days'] = (pd.to_datetime('2023-01-01') - customer_data['Timestamp']).dt.days
customer_data['age_group'] = pd.cut(customer_data['Age'], bins=[0, 25, 35, 50, 100], labels=['Young', 'Adult', 'Middle', 'Senior'])
customer_data['nps_category'] = pd.cut(customer_data['NPS'], bins=[-1, 6, 8, 10], labels=['Detractor', 'Passive', 'Promoter'])
demographic_features = customer_data[['CustomerID', 'Age', 'Gender', 'Segment', 'NPS', 'account_age_days', 'age_group', 'nps_category']]

In [44]:
demographic_features

,CustomerID,Age,Gender,Segment,NPS,account_age_days,age_group,nps_category
0,1001,31,Male,Segment B,3,1069,Adult,Detractor
1,1002,66,Female,Segment C,6,1455,Senior,Detractor
2,1003,36,Female,Segment B,3,1341,Middle,Detractor
3,1004,62,Female,Segment C,1,1033,Senior,Detractor
4,1005,68,Female,Segment C,3,1366,Senior,Detractor
...,...,...,...,...,...,...,...,...
12478,13479,55,Female,Segment A,8,338,Senior,Passive
12479,13480,29,Male,Segment A,7,930,Adult,Passive
12480,13481,38,Male,Segment C,1,809,Middle,Detractor
12481,13482,26,Female,Segment A,0,920,Adult,Detractor
12482,13483,29,Male,Segment C,2,170,Adult,Detractor

## Merging All Features

In [45]:
customer_main = demographic_features.merge(purchase_hist, on='CustomerID', how='left') \
    .merge(sub_details, on='CustomerID', how='left') \
    .merge(srv_interac, on='CustomerID', how='left') \
    .merge(payment_hist, on='CustomerID', how='left') \
    .merge(web_usage, on='CustomerID', how='left') \
    .merge(clk_stream, on='CustomerID', how='left') \
    .merge(eng_metrics, on='CustomerID', how='left') \
    .merge(feedback, on='CustomerID', how='left') \
    .merge(mkt_com, on='CustomerID', how='left')

customer_main['ChurnLabel'] = customer_data['ChurnLabel']

In [46]:
customer_main

,CustomerID,Age,Gender,Segment,NPS,account_age_days,age_group,nps_category,total_purchase_value,total_frequency,product_diversity,Plan,subscription_duration_days,subscription_age_days,is_active,last_interaction_date,total_interactions,total_late_payments,payment_count,late_payment_rate,payment_risk_score,PageViews,TimeSpent(minutes),engagement_ratio,engagement_intensity,total_actions,add_to_cart_count,search_count,click_count,unique_pages,cart_conversion_rate,search_intensity,page_diversity,Logins,frequency_score,engagement_score,avg_rating,avg_comment_length,sentiment_score,is_negative,is_positive,emails_sent,emails_opened,emails_clicked,open_rate,click_rate,click_through_rate,marketing_engagement,ChurnLabel
0,1001,31,Male,Segment B,3,1069,Adult,Detractor,3994.72,38,7,Express,871,937,0,2021-07-25,4,40,3,10.00,400.00,49,15,0.300000,735,24,8,12,4,13,0.320000,0.480000,0.520000,19,4,76,1.0,96.0,0.2,1,0,8,8,8,0.888889,0.888889,0.888889,0.790123,1
1,1002,66,Female,Segment C,6,1455,Senior,Detractor,2844.35,4,3,Pro,290,529,0,2022-12-13,19,10,3,2.50,25.00,100,9,0.089109,900,24,8,7,9,13,0.320000,0.280000,0.520000,9,4,36,2.0,108.0,0.4,1,0,9,9,9,0.900000,0.900000,0.900000,0.810000,0
2,1003,36,Female,Segment B,3,1341,Middle,Detractor,1866.52,14,3,Essential,319,1184,0,2022-01-04,3,8,3,2.00,16.00,1,97,48.500000,97,12,2,7,3,7,0.153846,0.538462,0.538462,19,1,19,4.0,72.0,0.8,0,1,8,8,8,0.888889,0.888889,0.888889,0.790123,0
3,1004,62,Female,Segment C,1,1033,Senior,Detractor,1378.64,28,5,Smart,803,1083,0,2022-11-10,59,79,3,19.75,1560.25,25,31,1.192308,775,47,15,16,16,14,0.312500,0.333333,0.291667,4,30,120,1.0,78.0,0.2,1,0,10,10,10,0.909091,0.909091,0.909091,0.826446,1
4,1005,68,Female,Segment C,3,1366,Senior,Detractor,2425.05,39,6,Basic,580,633,0,2022-12-19,10,2,3,0.50,1.00,77,51,0.653846,3927,30,17,4,9,12,0.548387,0.129032,0.387097,12,4,48,3.0,99.0,0.6,0,0,7,7,7,0.875000,0.875000,0.875000,0.765625,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12478,13479,55,Female,Segment A,8,338,Senior,Passive,1196.56,14,3,Essential,745,1296,0,2022-10-09,10,3,3,0.75,2.25,70,57,0.802817,3990,6,4,1,1,6,0.571429,0.142857,0.857143,22,30,660,2.0,37.0,0.4,1,0,4,4,4,0.800000,0.800000,0.800000,0.640000,0
12479,13480,29,Male,Segment A,7,930,Adult,Passive,710.57,1,1,Flex,18,22,0,2022-11-05,3,6,3,1.50,9.00,71,66,0.916667,4686,9,3,3,3,8,0.300000,0.300000,0.800000,25,4,100,3.0,102.0,0.6,0,0,7,7,7,0.875000,0.875000,0.875000,0.765625,0
12480,13481,38,Male,Segment C,1,809,Middle,Detractor,5154.42,63,10,Deluxe,20,546,0,2022-12-08,26,83,3,20.75,1722.25,96,1,0.010309,96,26,10,11,5,9,0.370370,0.407407,0.333333,9,1,9,5.0,134.0,1.0,0,1,5,5,5,0.833333,0.833333,0.833333,0.694444,1
12481,13482,26,Female,Segment A,0,920,Adult,Detractor,6055.16,58,9,Gold,484,894,0,2022-11-15,13,67,3,16.75,1122.25,63,2,0.031250,126,38,7,15,16,12,0.179487,0.384615,0.307692,2,1,2,5.0,113.0,1.0,0,1,1,1,1,0.500000,0.500000,0.500000,0.250000,0
12482,13483,29,Male,Segment C,2,170,Adult,Detractor,154.20,1,1,Prime,266,499,0,2022-06-10,7,49,3,12.25,600.25,93,6,0.063830,558,32,13,10,9,13,0.393939,0.303030,0.393939,6,4,24,3.0,121.0,0.6,0,0,5,5,5,0.833333,0.833333,0.833333,0.694444,1

In [47]:
customer_main.describe(include='all')

,CustomerID,Age,Gender,Segment,NPS,account_age_days,age_group,nps_category,total_purchase_value,total_frequency,product_diversity,Plan,subscription_duration_days,subscription_age_days,is_active,last_interaction_date,total_interactions,total_late_payments,payment_count,late_payment_rate,payment_risk_score,PageViews,TimeSpent(minutes),engagement_ratio,engagement_intensity,total_actions,add_to_cart_count,search_count,click_count,unique_pages,cart_conversion_rate,search_intensity,page_diversity,Logins,frequency_score,engagement_score,avg_rating,avg_comment_length,sentiment_score,is_negative,is_positive,emails_sent,emails_opened,emails_clicked,open_rate,click_rate,click_through_rate,marketing_engagement,ChurnLabel
count,12483.00000,12483.000000,12483,12483,12483.000000,12483.000000,12483,12483,12483.000000,12483.000000,12483.000000,12483,12483.000000,12483.000000,12483.0,12483,12483.000000,12483.000000,12483.0,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000,12483.000000
unique,NaN,NaN,2,3,NaN,NaN,4,3,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Male,Segment C,NaN,NaN,Senior,Detractor,NaN,NaN,NaN,Basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,6269,4199,NaN,NaN,4680,10637,NaN,NaN,NaN,680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,7242.00000,43.930065,NaN,NaN,2.973884,737.074261,NaN,NaN,2770.122997,30.236962,5.473043,NaN,360.914844,729.436994,0.0,2022-08-10 20:11:21.759192576,20.367940,36.166547,3.0,9.041637,573.654070,50.634944,34.602499,1.450319,1758.571097,25.604102,8.526476,8.530241,8.547384,10.462149,0.309097,0.310319,0.468448,15.561484,11.767123,181.885124,3.000641,91.626612,0.600128,0.399583,0.397741,5.508451,5.508451,5.508451,0.797607,0.797607,0.797607,0.651461,0.505808
min,1001.00000,18.000000,NaN,NaN,0.000000,1.000000,NaN,NaN,12.270000,1.000000,1.000000,NaN,0.000000,2.000000,0.0,2019-01-02 00:00:00,1.000000,0.000000,3.0,0.000000,0.000000,1.000000,1.000000,0.009901,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.212766,1.000000,1.000000,1.000000,1.000000,13.000000,0.200000,0.000000,0.000000,1.000000,1.000000,1.000000,0.500000,0.500000,0.500000,0.250000,0.000000
25%,4121.50000,31.000000,NaN,NaN,1.000000,378.000000,NaN,NaN,1425.160000,16.000000,3.000000,NaN,96.000000,363.000000,0.0,2022-07-20 00:00:00,8.000000,8.000000,3.0,2.000000,16.000000,26.000000,14.000000,0.263158,403.000000,13.000000,4.000000,4.000000,4.000000,9.000000,0.250000,0.250000,0.333333,8.000000,1.000000,20.000000,2.000000,68.000000,0.400000,0.000000,0.000000,3.000000,3.000000,3.000000,0.750000,0.750000,0.750000,0.562500,0.000000
50%,7242.00000,44.000000,NaN,NaN,2.000000,741.000000,NaN,NaN,2701.160000,29.000000,5.000000,NaN,261.000000,730.000000,0.0,2022-10-29 00:00:00,15.000000,23.000000,3.0,5.750000,132.250000,51.000000,26.000000,0.580645,1092.000000,26.000000,8.000000,8.000000,8.000000,12.000000,0.314286,0.315789,0.437500,16.000000,4.000000,60.000000,3.000000,90.000000,0.600000,0.000000,0.000000,6.000000,6.000000,6.000000,0.857143,0.857143,0.857143,0.734694,1.000000
75%,10362.50000,57.000000,NaN,NaN,4.000000,1097.000000,NaN,NaN,4011.355000,43.000000,8.000000,NaN,557.000000,1093.000000,0.0,2022-12-08 00:00:00,31.000000,65.000000,3.0,16.250000,1056.250000,76.000000,51.000000,1.289664,2400.000000,38.000000,12.000000,13.000000,12.000000,13.000000,0.379310,0.378378,0.578947,23.000000,30.000000,240.000000,4.000000,115.000000,0.800000,1.000000,1.000000,8.000000,8.000000,8.000000,0.888889,0.888889,0.888889,0.790123,1.000000
max,13483.00000,70.000000,NaN,NaN,9.000000,1460.000000,NaN,NaN,7552.800000,79.000000,10.000000,NaN,1449.000000,1461.000000,0.0,2022-12-30 00:00:00,59.000000,117.000000,3.0,29.250000,3422.250000,100.000000,103.000000,51.500000,10200.000000,50.000000,27.000000,29.000000,29.000000,14.000000,0.846154,0.857143,0.909091,30.000000,30.000000,900.000000,5.000000,226.000000,1.000000,1.000000,1.000000,10.000000,10.000000,10.000000,0.909091,0.909091,0.909091,0.826446,1.000000
std,3603.67604,15.341521,NaN,NaN,2.644623,420.327777,NaN,NaN,1594.525110,17.279633,2.854363,NaN,323.100645,421.627977,0.0,NaN,16.247493,31.411403,0.0,7.852851,704.910764,28.930760,27.603618,3.270249,1898.620697,14.414630,5.365267,5.363455,5.394445,3.580320,0.117190,0.115485,0.155750,8.694091,13.041207,253.229710,1.411094,33.342321,0.282219,0.489832,0.489451,2.882630,2.882630,2.882630,0.123635,0.123635,0.123635,0.177192,0.499986

### RFM Analysis

Segment customers based on rfm score. We'd determine rfm score by summing Recency, Frequency and Monetary.

In [50]:
present_date = customer_main["last_interaction_date"].max()

customer_main['recency'] = present_date - customer_main['last_interaction_date']
customer_main['frequency'] = customer_main['total_frequency'] * customer_main['Logins'] # in case of both physical and platform interactions.
customer_main['monetary'] = customer_main['total_purchase_value']

R_label = range(5, 0, -1)
F_label = range(1, 6)
M_label = range(1, 6)

customer_main['recency'] = pd.qcut(customer_main['recency'], 5, labels=R_label)
customer_main['frequency'] = pd.qcut(customer_main['total_frequency'], 5, labels=F_label)
customer_main['monetary'] = pd.qcut(customer_main['total_purchase_value'], 5, labels=M_label)

customer_main[['recency', 'frequency', 'monetary']] = customer_main[['recency', 'frequency', 'monetary']].astype('int64')
customer_main['RFM_Score'] = customer_main['recency'] + customer_main['frequency'] + customer_main['monetary']

bins = [1, 4, 10, 15]
bin_labels = ['risk', 'engaged', 'loyalist']

customer_main['customer_segment'] = pd.cut(customer_main['RFM_Score'], bins=bins, labels=bin_labels, include_lowest=True)
customer_main.drop(columns=['RFM_Score', 'recency', 'frequency', 'monetary'], inplace=True)

In [51]:
customer_main

,CustomerID,Age,Gender,Segment,NPS,account_age_days,age_group,nps_category,total_purchase_value,total_frequency,product_diversity,Plan,subscription_duration_days,subscription_age_days,is_active,last_interaction_date,total_interactions,total_late_payments,payment_count,late_payment_rate,payment_risk_score,PageViews,TimeSpent(minutes),engagement_ratio,engagement_intensity,total_actions,add_to_cart_count,search_count,click_count,unique_pages,cart_conversion_rate,search_intensity,page_diversity,Logins,frequency_score,engagement_score,avg_rating,avg_comment_length,sentiment_score,is_negative,is_positive,emails_sent,emails_opened,emails_clicked,open_rate,click_rate,click_through_rate,marketing_engagement,ChurnLabel,customer_segment
0,1001,31,Male,Segment B,3,1069,Adult,Detractor,3994.72,38,7,Express,871,937,0,2021-07-25,4,40,3,10.00,400.00,49,15,0.300000,735,24,8,12,4,13,0.320000,0.480000,0.520000,19,4,76,1.0,96.0,0.2,1,0,8,8,8,0.888889,0.888889,0.888889,0.790123,1,engaged
1,1002,66,Female,Segment C,6,1455,Senior,Detractor,2844.35,4,3,Pro,290,529,0,2022-12-13,19,10,3,2.50,25.00,100,9,0.089109,900,24,8,7,9,13,0.320000,0.280000,0.520000,9,4,36,2.0,108.0,0.4,1,0,9,9,9,0.900000,0.900000,0.900000,0.810000,0,engaged
2,1003,36,Female,Segment B,3,1341,Middle,Detractor,1866.52,14,3,Essential,319,1184,0,2022-01-04,3,8,3,2.00,16.00,1,97,48.500000,97,12,2,7,3,7,0.153846,0.538462,0.538462,19,1,19,4.0,72.0,0.8,0,1,8,8,8,0.888889,0.888889,0.888889,0.790123,0,engaged
3,1004,62,Female,Segment C,1,1033,Senior,Detractor,1378.64,28,5,Smart,803,1083,0,2022-11-10,59,79,3,19.75,1560.25,25,31,1.192308,775,47,15,16,16,14,0.312500,0.333333,0.291667,4,30,120,1.0,78.0,0.2,1,0,10,10,10,0.909091,0.909091,0.909091,0.826446,1,engaged
4,1005,68,Female,Segment C,3,1366,Senior,Detractor,2425.05,39,6,Basic,580,633,0,2022-12-19,10,2,3,0.50,1.00,77,51,0.653846,3927,30,17,4,9,12,0.548387,0.129032,0.387097,12,4,48,3.0,99.0,0.6,0,0,7,7,7,0.875000,0.875000,0.875000,0.765625,0,loyalist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12478,13479,55,Female,Segment A,8,338,Senior,Passive,1196.56,14,3,Essential,745,1296,0,2022-10-09,10,3,3,0.75,2.25,70,57,0.802817,3990,6,4,1,1,6,0.571429,0.142857,0.857143,22,30,660,2.0,37.0,0.4,1,0,4,4,4,0.800000,0.800000,0.800000,0.640000,0,engaged
12479,13480,29,Male,Segment A,7,930,Adult,Passive,710.57,1,1,Flex,18,22,0,2022-11-05,3,6,3,1.50,9.00,71,66,0.916667,4686,9,3,3,3,8,0.300000,0.300000,0.800000,25,4,100,3.0,102.0,0.6,0,0,7,7,7,0.875000,0.875000,0.875000,0.765625,0,engaged
12480,13481,38,Male,Segment C,1,809,Middle,Detractor,5154.42,63,10,Deluxe,20,546,0,2022-12-08,26,83,3,20.75,1722.25,96,1,0.010309,96,26,10,11,5,9,0.370370,0.407407,0.333333,9,1,9,5.0,134.0,1.0,0,1,5,5,5,0.833333,0.833333,0.833333,0.694444,1,loyalist
12481,13482,26,Female,Segment A,0,920,Adult,Detractor,6055.16,58,9,Gold,484,894,0,2022-11-15,13,67,3,16.75,1122.25,63,2,0.031250,126,38,7,15,16,12,0.179487,0.384615,0.307692,2,1,2,5.0,113.0,1.0,0,1,1,1,1,0.500000,0.500000,0.500000,0.250000,0,loyalist
12482,13483,29,Male,Segment C,2,170,Adult,Detractor,154.20,1,1,Prime,266,499,0,2022-06-10,7,49,3,12.25,600.25,93,6,0.063830,558,32,13,10,9,13,0.393939,0.303030,0.393939,6,4,24,3.0,121.0,0.6,0,0,5,5,5,0.833333,0.833333,0.833333,0.694444,1,risk